<!DOCTYPE html>
<html> 

<head> 
	<title>HTML 5 Demo</title> 
	
	<style> 
		.GFG { 
			font-size:40px; 
			font-weight:bold;
			color:green;
		} 
		body {
			text-align:center;
		}
	</style> 
</head> 

<body> 
	<div class = "GFG">Welcome to the Maths page !</div> 
	<aside> 
		<div>Logic shapes every choice of our daily lives.Logical thinking enables someone to learn and make decisions 
            that affects their way of life.!
        </div> 
	</aside> 
    <form method="POST" action="#">
       Enter a number:
       <input type="text" name="num" id="num"></input>
       <input type="submit" name="btnnum" id="btnnum"></input>
    </form>
</body> 

</html>				 
